<html ng-app="myApp"><!-- it is required!! -->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <style>
      input.ng-invalid{
        border: solid 1px red;
      }
    </style>
</head>
<body ng-controller="appCtrl as app">

<h1>ngTeratail</h1>
<p>Hello AngularJS.</p>
<p>{{ 1 + 1 }}</p>

<form name="todoForm" novalidate>
    <label>new Task:</label>
    <input type="text" name="todoName" ng-model="app.todo.name" required>
    <p ng-if="false">{{ todo * 1.08 | currency: '¥' : 0 }}</p>
    <p ng-show="todoForm.todoName.$invalid">必須です！！</p>
    <button ng-disabled="todoForm.$invalid" ng-click="app.clickButton();">click</button>
</form>

<form>
    <input type="text" ng-model="app.search">
</form>

<p>税込 {{ todo * 1.08 | currency: '¥' : 0}}</p>

<ul>
  <li ng-repeat="item in app.list | filter: app.search | orderBy: '-date'">
      {{item.name}} - {{ item.date | date: 'yyyy/MM/dd HH:mm:ss' }}
  </li>
</ul>

<script>
(function(){
    angular.module('myApp', []).controller('appCtrl', [function(){
      this.list = [];
      this.clickButton = function(){
      this.todo.date = Date.now();
      this.list.push(this.todo)
      this.todo = {};
    }
    }]);
    // この[] 重要
})();
</script>
</body>
</html>
